title=test
template=default

<section class="hero-section">
    <div class="container text-white">
        <div class="row bottom-60">
            <div class="column-2 grid-column hero-img">
                <img src="/img/springhouse-amsterdam-rounded.png" alt="Springhouse Amsterdam">
            </div><!--end .grid-column-->
            <div class="column-2 grid-column hero-content">
                <h1 class="top-60">
                    Join us at the Ad Blocker
                    Developer Summit 2019
                </h1>
                <h2 class="top-0">
                    <span class="break">September 27, 2019</span>
                    <span class="break">Amsterdam, NL</span>
                </h2>
                <p>
                    After a successful 2018 summit in San Francisco, this year’s Ad Blocker Developer Summit will be hosted in beautiful Amsterdam!
                </p>
                <a class="btn-orange top-20" target="_blank" href="https://docs.google.com/forms/d/1xKJB5PvsZ4PRl79ZTrWzPTCJNB4t2_O0HtBSUlrRy8Y/edit?usp=sharing">
                    Send a talk proposal
                </a>
                <p class="privacy-disclaimer top-20">
                    Please note: You'll be redirected to Google Forms to fill out the application. Read our <a href="/en/privacy">Privacy Policy</a> for more information.
                </p>
            </div><!--end .grid-column-->
        </div><!--end .row-->
    </div><!--end .container-->
</section>
<section id="why-join">
    <div class="container">
        <div class="row">
            <div class="column-4 grid-column top-40">
                <h2>
                    Why join?
                </h2>
                <p>
                    Interact with a diverse group of knowledgeable individuals passionate about ad blocking. Learn from some of the most influential people in the industry and see first-hand the cutting-edge advances happening in the world of ad blocking.
                </p>
                <p>
                    The explosive growth of ad blockers has forced publishers and advertisers to listen seriously to consumer demands and reform some of their most aggressive ad practices. Come to this industry-wide developer event to learn how to contribute to the ad-blocking community, while learning from the best in the game. Contribute to the discussion on the future of ad blocking, from machine learning to VR/AR, to embedded devices and more.
                </p>
                <ul>
                    <li>Meet the developers behind some of the most successful ad-blocking apps in the world.</li>
                    <li>Learn what’s on the cutting edge in the world of ad blocking.</li>
                    <li>Help transform the advertising industry to be held more accountable to consumers.</li>
                    <li>Pitch your ideas for VR, machine learning, and AI in ad blocking. Help shape ad blocking for the future!</li>
                </ul>
            </div>
        </div><!--END .row-->
        <div class="row top-20">
            <div class="column-1 push-half grid-column event-details">
                <div class="icon-wrap"><img src="/img/icon-calendar.svg" width="60" height="auto" alt="Calendar icon"></div>
                <h3>When?</h3>
                <div class="clear"></div>
                <p>
                    September 27, 2019
                </p>
            </div>
            <div class="column-1 push-half grid-column event-details">
                <div class="icon-wrap"><img src="/img/icon-location-pin.svg" width="50" height="auto" alt="Calendar icon"></div>
                <h3>Where?</h3>
                <div class="clear"></div>
                <p>
                    <span class="break">De Ruyterkade 1281011</span>
                    <span class="break">AC, Amsterdam</span>
                    <span class="break"><a href="http://springhouse.nl" target="blank">http://springhouse.nl</a></span>
                </p>
            </div>
        </div><!--END .row-->
    </div><!--END .container-->
</section>
<section class="topics-intro" id="topics">
    <div class="container text-white text-center">
        <div class="row top-20 bottom-20">
            <div class="column-3 grid-column push-half top-60 bottom-60">
                <h2>
                    Send us your proposals
                </h2>
                <p>
                    Full-length talk proposals should be at most 25 minutes in length. Lightning talks should be 5-10 minutes in length.
                </p>
                <p>
                    This time, we’re focusing primarily on the themes listed below. Examples of interesting topics are also mentioned below. (Your topic is not limited to these ideas. Feel free to suggest a topic outside of these areas.)
                </p>
            </div>
        </div><!--END .row-->
    </div><!--END .container-->
</section>
<section>
    <div class="container">
        <div class="row top-40">
            <div class="column-4 grid-column">
                <h3>
                    Cutting edge tech in the space of ad blocking
                </h3>
                <ul>
                    <li>AI / machine learning</li>
                    <li>VR / AR / Blockchain</li>
                    <li>Ad blocking in the physical world</li>
                </ul>
                <h3>
                    The future of online monetization
                </h3>
                <ul>
                    <li>Advancements in payment and compensation methods online - and what it means for ad blockers</li>
                    <li>Any new or interesting research about audience engagement (or non-engagement) regarding ads</li>
                </ul>
                <h3>
                    Effects of ads and ad blocking on society and the web
                </h3>
                <ul>
                    <li>How do online ads and ad blocking affect web performance? Privacy and security?</li>
                    <li>New types of advertising and how to deal with them (video ads, podcast ads, social media paid promotion, etc.)</li>
                    <li>Is there a correlation between sites with bad ads and bad content (fake news / scams / phishing sites / etc.)?</li>
                </ul>
                <h3>
                    Current state: Filters, circumvention, and more
                </h3>
                <ul>
                    <li>State of ad-blocker circumvention in 2019</li>
                    <li>How to write better filters</li>
                    <li>The story behind your most complicated filters</li>
                </ul>
                <h3>
                    V3 and the architecture of ad-blocking extensions in the future
                </h3>
                <ul>
                    <li>How do you plan to deal with V3? How will it affect your extension and / or business? What concerns do you have?</li>
                </ul>
                <h3>
                    Misc
                </h3>
                <ul>
                    <li>Do you have an interesting topic not related to the above topics that’s still highly relevant for the ad-blocker developer audience? We’d love to hear your idea!</li>
                </ul>
            </div><!--END .grid-column-->
        </div><!--END .row-->
        <div class="row top-20 bottom-40">
            <div class="column-3 push-half grid-column text-center">
                <a class="btn-orange top-20" target="_blank" href="https://docs.google.com/forms/d/1xKJB5PvsZ4PRl79ZTrWzPTCJNB4t2_O0HtBSUlrRy8Y/edit?usp=sharing">
                    Send a talk proposal
                </a>
                <p class="privacy-disclaimer">
                    <span class="break">Please note: You'll be redirected to Google Forms to fill out the application.</span>
                    <span class="break">Read our <a href="/en/privacy">Privacy Policy</a> for more information.</span>
                </p>
            </div><!--END .grid-column-->
        </div><!--END .row-->
    </div><!--END .container-->
</section>
<section class="grey-section" id="contact">
    <div class="container text-center">
        <div class="row">
            <div class="column-3 push-half grid-column top-60 bottom-60">
                <h2>
                    Let’s connect
                </h2>
                <p>
                    <span class="break">Need help? Have questions? Want to reserve your spot?</span>
                    <span class="break">Send us a message us directly at <a data-mask='{"href": "bWFpbHRvOmNvbnRhY3RAYWRibG9ja2VyZGV2c3VtbWl0LmNvbQ=="}'>contact@adblockerdevsummit.com</a>.</span>
                </p>
                <p class="privacy-disclaimer">
                    For more information about how we handle your data, please refer to our <a href="/en/privacy" title="Link to Privacy Policy page">Privacy Policy</a>.
                </p>
            </div>
        </div><!--END .row-->
    </div><!--END .container-->
</section>